@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0 75px;
  max-width: 1600px;
  background-color: #101010;
  font-family: 'Poppins', sans-serif;
}